body{
margin: 0;
    overflow-y:auto;
overflow-x: auto;


}
.tasbeh{
    width: 670px;
    height: 660px;
    background: tan;
    border: 1.5px solid green;
    position: fixed;
    overflow-y: hidden;
    top: 29%;
    left: 17%;
    border-radius: 20%; 
    background-image: url(Kaba.jpg);
    
}
.ekran {
    top: 10%;
    width: 65%;
    position: absolute;
    left: 20%;
    height: 75px;
    caret-color: white;
    border-radius: 16%;
    text-align: center;
    font-size:59px;
}
.tugma {
    left: 38%;
    position: absolute;
    width: 160px;
    height: 130px;
    border-radius: 50%;
    top: 44%;
    background: gray;
}
.nolga {
    
    width: 98px;
    height: 90px;
    background: red;
    position: absolute;
    top: 76%;
    left: 41%;
    border-radius: 57%
}

